@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Quicksand&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(./elements/lidar.gif);
  background-size: cover;
}

.main {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-rows: 5% 85% 10%;
      grid-template-rows: 5% 85% 10%;
}

.main .upper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4] 7fr (1fr)[5];
      grid-template-columns: repeat(4, 1fr) 7fr repeat(5, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .upper i {
  color: white;
}

.main .upper .upperItemMiddle {
  height: 5vh;
  width: 100%;
  background: white;
  border-radius: 0 0 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .upper .upperItemMiddle .model {
  font-family: 'Concert One', cursive;
  font-size: 1.1rem;
}

.main .upper .upperItemMiddle .gloveBox {
  font-family: 'Concert One', cursive;
  font-size: 0.8rem;
  color: #3a3a3a;
  background-color: rgba(0, 0, 0, 0.116);
  padding: 2px 5px;
  border-radius: 5px;
}

.main .upper .upperItemMiddle i {
  color: black;
}

.main .middle {
  border-radius: 0 0 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main .middle .middleTitle {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 7vh;
}

.main .middle .middleTitle span {
  font-family: 'Concert One', cursive;
  font-size: 2rem;
  color: white;
}

.main .middle .middleButton {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 60vh;
}

.main .middle .middleButton span {
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  color: white;
  background: rgba(12, 12, 12, 0.5);
  padding: 5px 25px;
  border-radius: 15px;
}

.main .middle .musicPlayer {
  background: white;
  width: 80vw;
  height: 10vh;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 15px 15px 0 0;
}

.main .lower {
  background: #0c0c0c;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  position: relative;
}

.main .lower :before {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  height: 40px;
  width: 100vw;
  border-radius: 0 0 15px 15px;
  -webkit-box-shadow: 0 20px 0 0 #0c0c0c;
          box-shadow: 0 20px 0 0 #0c0c0c;
}

.main .lower i {
  font-size: 36px;
}
/*# sourceMappingURL=style.css.map */